* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(231, 248, 255);
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: #fff;
  display: flex;
  min-height: 700px;
  min-width: 1100px;
  margin: 50px 0;
  border-radius: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 5px 0 1px -5px #000;
}

.menu img {
  margin: 10px 0 50px -5px;
}

.menu li {
  font-size: 130%;
  margin: 30px 0;
}

.menu i {
  color: rgba(0, 0, 0, 0.384);
}

header {
  box-shadow: 0 5px 1px -5px #000;
  padding: 25px 0 20px 30px;
  min-width: 1100px;
  font-size: 15px;
}

.search-insert {
  display: flex;
  justify-content: space-between;
  margin: 30px 0  0 70px;
}

#search-icon {
  position: absolute;
  font-size: 14px;
  margin: 5px 0 0 5px;
  color: rgba(0, 0, 0, 0.384);
}

.search-insert input {
  border-radius: 5px;
  height: 25px;
  width: 450px;
  padding-left: 25px;
  border-color: rgba(0, 0, 0, 0.384);
}

.search-insert button {
  margin-right: 100px;
}

table {
  width: 1000px;
  margin: 20px 0  0 50px;
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: rgb(183, 253, 253);
}

th, td {
  padding: 8px 0;
}



